@model MedLedger.Models.Professional

@{
    ViewData["Title"] = "Professional Details";
}

<div>
    <h4>Professional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessionalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionalEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessionalEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionalSpecialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessionalSpecialty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessionalExpYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessionalExpYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfessionalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
