@model IEnumerable<MedLedger.Models.Professional>

@{
    ViewData["Title"] = "Professionals";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalSpecialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalExpYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalSpecialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalExpYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProfessionalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProfessionalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProfessionalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    Scheduling Recommendations:
    <div>
        @*<input type="button" value="Create" asp-action="Test" />
        @Html.ActionLink("Suggest", "Test", "Professionals")*@
            @*<input type="button" href="Professionals/ProfessionalSchedulingEngine" class="btn btn-primary"/>*@
            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Schedule</button>*@
@*        @ViewBag.ClinicsWithNoDoctor
*@
       @* <div> 
               <span> Service</span> <span> Clinic ID</span> <span> Recomm. Prof ID</span>
        </div>
        @foreach (var item in ViewBag.ClinicsWithNoDoctor)
        {
           <div> 
               <span> @item.Item1 </span> <span> @item.Item2</span> <span> @item.Item3</span> <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Suggest</button>
           </div>
        }
*@
        <table class="table">
    <thead>
        <tr>
            <th>
                Service
            </th>
            <th>
                Clinic ID
            </th>
            <th>
                Recomm. Prof ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.ClinicsWithNoDoctor) {
        <tr>
            <td>
                @item.Item1
            </td>
            <td>
                @item.Item2
            </td>
            <td>
                @item.Item3
            </td>
            <td>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Suggest</button>
            </td>
            
            
        </tr>
}
    </tbody>
</table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recommendation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Scheduled</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        @*<button type="button" class="btn btn-primary">Save changes</button>*@
      </div>
    </div>
  </div>
</div>