@model IEnumerable<MedLedger.Models.Professional>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalSpecialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessionalExpYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalSpecialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalExpYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProfessionalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProfessionalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProfessionalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
