@model IEnumerable<MedLedger.Models.ServiceSchedule>

@{
   ViewData["Title"] = "Service Schedule";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentAppointments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxAppointments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentTimeAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxTimeAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EfficientTaktTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualTaktTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EfficientResources)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualResources)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentAppointments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAppointments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentTimeAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTimeAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EfficientTaktTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualTaktTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EfficientResources)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualResources)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
