@model IEnumerable<MedLedger.Models.Clinic>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClinicList</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClinicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClinicID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClinicID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClinicID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
