@model MedLedger.Models.Appointment

@{
    ViewData["Title"] = "Create an Appointment";
}


<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentService" class="control-label"></label>
                <input asp-for="AppointmentService" class="form-control" />
                <span asp-validation-for="AppointmentService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDescription" class="control-label"></label>
                <input asp-for="AppointmentDescription" class="form-control" />
                <span asp-validation-for="AppointmentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalID" class="control-label"></label>
                <input asp-for="ProfessionalID" class="form-control" />
                <span asp-validation-for="ProfessionalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <input asp-for="PatientID" class="form-control" />
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>

            @*address placeholder*@
            <div class="form-group">
                <label  class="control-label">PatientAddress</label>
                <input  class="form-control" />
                
            </div>
            <div class="form-group">
                <label asp-for="ClinicID" class="control-label"></label>
                <input asp-for="ClinicID" class="form-control" />
                <span asp-validation-for="ClinicID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceID" class="control-label"></label>
                <input asp-for="ServiceID" class="form-control" />
                <span asp-validation-for="ServiceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="ConfirmCreate" value="Confirm Create" class="btn btn-primary"/>
                @*<button type="button" value="Create" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="location.href='@Url.Action("Create", "Appointments")'">Suggest</button>*@

@*                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Suggest</button>*@                
                <button type="submit" class="btn btn-primary" data-toggle="" data-target="">Suggest</button>

            </div>
            <div>@ViewBag.TimeCorrection</div>
            <div>@ViewBag.DayCorrection</div>
            <div>@ViewBag.ProfessionalCorrection</div>
        </form>
    </div>
    <div class="col-md-4">
        <div>Initial Selection:</div>
        <div>Initial Staff: @Html.Raw(@ViewBag.InitialStaff)</div>
        <div>Initial Facility: @Html.Raw(@ViewBag.InitialFacility)</div>
        <div>Initial Staff: @Html.Raw(@ViewBag.InitialStaffName)</div>
        <div>Initial Facility: @Html.Raw(@ViewBag.InitialFacilityName)</div>
        <div>Initial TaktTime: @Html.Raw(@ViewBag.InitialTaktTime) minutes/patient</div>
        <div>Initial Efficient Resources: @Html.Raw(@ViewBag.InitialEfficientResources) resource units</div>
        <div>Initial Actual Resources: @Html.Raw(@ViewBag.InitialActualResources) resource units</div>

        <div></div>
        <br />

        <div>Recommendation:</div>
        <div>Recommended ProfessionalID: @Html.Raw(@ViewBag.RecommProfessionalId)</div>
        <div>Recommended ServiceID: @Html.Raw(@ViewBag.RecommServiceId)</div>
        <div>Recommended ClinicID: @Html.Raw(@ViewBag.RecommClinicId)</div>
        <div>Recommended Staff: @Html.Raw(@ViewBag.RecommStaff)</div>
        <div>Recommended Facility: @Html.Raw(@ViewBag.RecommFacility)</div>
        <div>Recommended TaktTime: @Html.Raw(@ViewBag.RecommTaktTime) minutes/patient</div>
        <div>Recommended Efficient Resources: @Html.Raw(@ViewBag.RecommEfficientResources) resource units</div>
        <div>Recommended Actual Resources: @Html.Raw(@ViewBag.RecommActualResources) resource units</div>
        @*@ViewBag.SaveChanges*@
        @Html.Raw(ViewBag.SaveChanges)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recommendation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Recommended Staff:</div>
        <div>Recommended Facility:</div>
        <div>Time:</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
    //$("#useRecomm").click(useRecommendation);

    function useRecommendation()
    {
        //replace professional, clinic,service
        $("#ProfessionalID").val($("#RecommProfessionalId").text());

        $("#ClinicID").val($("#RecommClinicId").text());

        $("#ServiceID").val($("#RecommServiceId").text());

        console.log("Change done.");
    }
</script>